@layer utilities {
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .bg-animated-gradient {
        background: linear-gradient(
            270deg,
            theme('colors.blue.300'),
            theme('colors.violet.300'),
            theme('colors.red.300')
        );
        background-size: 600% 600%;
        animation: gradient 8s ease infinite;
    }
}
